{
  "version": 1.0,
  "project": "information-security__${repo}-${branch}",
  "team": "/CxServer/Security",
  "sast": {
    "incremental": "false",
    "forceScan": "true",
    "fileExcludes": "*.log,*.out,mvn*,pom.xml",
    "folderExcludes": "src/main/test/*"
  },
  "additionalProperties": {
    "cxFlow": {
      "vulnerabilityScanners": ["sast", "sca"],
      "branches": ["main"]
    }
  },
  "sca": {
    "team": "/CxServer/Security"
  }
}
